<div class="header-container" [ngStyle]="{'color':headerColor()}">
    <div class="header-left">
        <div class="symbol-container">
            <span class="symbol">©</span>
        </div>
        <div class="content-container" (click)="handleNameClick()">
            <span class="content">Code by James Chris</span>
        </div>
    </div>
    <div class="menu-container">
        <app-magnetic-text 
        *ngFor="let item of menuList"
        [uid]="item.id" 
        [content]="item.content" 
        [handleMenuClick]="handleMenuClick.bind(this,item)"
        [theme]="theme"
        ></app-magnetic-text>
    </div>
</div>