<div class="footer-wrapper">
    <div class="footer-curve"></div>
    <div class="footer-content">
        <div class="footer-container" >
            <div class="footer-row-1">
                <div class="lets-worl">
                    <app-hero-image class="footer-img" color="#ffffff"></app-hero-image>
                    <div>Let's work</div>
                </div>
                <div>together</div>
                <div class="get-in-touch">
                    <div class="divider"></div>
                    <div class="button-container">
                        <app-button
                        [backgroundColor]="'#455CE9'" 
                        [content]="'Get in touch'" 
                        [uid]="'FGIT01'"
                        [width]="'180'"
                        [height]="'180'"
                        [textSize]="'20'"
                        ></app-button>
                    </div>
                </div>
            </div>
            <div class="footer-row-2">
                <div class="button-container">
                    <app-button
                    [waveColor]="'#455ce9'"
                    [content]="'jameschris854.dev@gmail.com'" 
                    [uid]="'FGIT02'"
                    [width]="'400'"
                    [height]="'50'"
                    [textSize]="'20'"
                    [borderRadius]="'50px'"
                    ></app-button>
                </div>
                <div class="button-container">
                    <app-button
                    [waveColor]="'#455ce9'"
                    [content]="'+91 8637627151'" 
                    [uid]="'FGIT03'"
                    [width]="'250'"
                    [height]="'50'"
                    [textSize]="'20'"
                    [borderRadius]="'50px'"
                    ></app-button>
                </div>
            </div>
        </div>
    </div>
</div>