<div class="footer-wrapper">
    <div class="footer-curve"></div>
    <div class="footer-content">
        <div class="footer-container" >
            <div class="footer-row-1">
                <div class="lets-worl">
                    <img class="footer-img" src="../../assets/background.jpg" />
                    <div>Let's work</div>
                </div>
                <div>together</div>
                <div class="get-in-touch">
                    <div class="divider"></div>
                    <div class="button-container">
                        <app-button
                        [backgroundColor]="'#455CE9'" 
                        [content]="'Get in touch'" 
                        [uid]="'GIT01'"
                        [size]="'180'"
                        [textSize]="'20'"
                        ></app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>