.work-container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    .work-phrase{
        font-size: 121px;
        width: 70%;
        word-wrap: normal;
        margin-top: 15vh;
    }
    .view-button-container{
        position: fixed;
        top: var(--fixed-top);
        left: var(--fixed-left);
        height: 100vh;
        width: 100vw;
        z-index: 2;
        pointer-events: none;
        .view-button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 160px;
            background-color: #455CE9;
            color: #ffffff;
            border-radius: 100%;
            transform: scale(0);
        }
    }
    .project-controls{
        display: flex;
        width: 75%;
        margin-top: 5vh;
    }
}

