<app-header [theme]="'dark'"></app-header>
<div class="work-container">
    <div class="work-phrase">Creating next level digital products</div>
    <div class="project-controls">
        <app-button *ngFor="let item of filters ;trackBy: trackFilters"
        [waveColor]="'#455ce9'"
        [backgroundColor]="item.isActive ? '#1c1d20' : '#ffffff'"
        [content]="item.content" 
        [uid]="item.uid"
        [width]="item.width"
        [height]="item.height"
        [textSize]="'20'"
        [borderRadius]="'50px'"
        [borderColor]="'#dfdfdf'"
        [textColor]="item.isActive ? '#ffffff' : '#1c1d20'"
        (click)="handleSort(item.content)"
        ></app-button>

        <div style="margin-left:auto;margin-bottom:5vh"></div>

        <app-button *ngFor="let item of layoutConstant ;trackBy: trackLayout"
        [waveColor]="'#455ce9'"
        [backgroundColor]="item.isActive ? '#1c1d20' : '#ffffff'"
        [content]="item.content" 
        [uid]="item.uid"
        [width]="item.width"
        [height]="item.height"
        [textSize]="item.textSize"
        [borderRadius]="'50px'"
        [borderColor]="'#dfdfdf'"
        [textColor]="item.isActive ? '#ffffff' : '#1c1d20'"
        (click)="handleLayoutChange(item.layout)"
        ></app-button>
    </div>
    <app-projects [myProjects]="myProjects" [layout]="workPageService.layout"></app-projects>
    <div class="view-button-wrapper">
        <div [ngClass]="['view-button-container',getLayoutClass]">
            <div class="view-button">View</div>
            <div [ngClass]="['view-button','list']" [ngStyle]="getViewGridButtonStyle">
                <div [ngClass]="['view-button-image-container']" >
                    <div *ngFor="let item of myProjects" [ngClass]="['view-button-list-image']" [ngStyle]="{'background-image':'url('+item?.image+')'}" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>