<app-header [theme]="'dark'"></app-header>
<div class="work-container">
    <div class="work-phrase">Creating next level digital products</div>
    <div class="project-controls">
        <app-button
        [waveColor]="'#455ce9'"
        [content]="'ALL'" 
        [uid]="'WMC01'"
        [width]="'100'"
        [height]="'50'"
        [textSize]="'20'"
        [borderRadius]="'50px'"
        [borderColor]="'#dfdfdf'"
        ></app-button>
        <app-button
        [textColor]="'#000000'"
        [waveColor]="'#455ce9'"
        [backgroundColor]="'#ffffff'"
        [content]="'FrontEnd'" 
        [uid]="'WMC02'"
        [width]="'150'"
        [height]="'50'"
        [textSize]="'20'"
        [borderRadius]="'50px'"
        [borderColor]="'#dfdfdf'"
        ></app-button>
        <app-button
        [textColor]="'#000000'"
        [waveColor]="'#455ce9'"
        [backgroundColor]="'#ffffff'"
        [content]="'Backend'" 
        [uid]="'WMC03'"
        [width]="'150'"
        [height]="'50'"
        [textSize]="'20'"
        [borderRadius]="'50px'"
        [borderColor]="'#dfdfdf'"
        ></app-button>
        <div style="margin-left:auto"></div>
        <app-button
        [waveColor]="'#455ce9'"
        [content]="'&#8862;'" 
        [uid]="'WMC04'"
        [width]="'50'"
        [height]="'50'"
        [textSize]="'35'"
        [borderRadius]="'50px'"
        [borderColor]="'#dfdfdf'"
        ></app-button>
        <app-button
        [waveColor]="'#455ce9'"
        [textColor]="'#000000'"
        [backgroundColor]="'#ffffff'"
        [content]="'&#9776;'" 
        [uid]="'WMC05'"
        [width]="'50'"
        [height]="'50'"
        [textSize]="'35'"
        [borderRadius]="'50px'"
        [borderColor]="'#dfdfdf'"
        ></app-button>
    </div>
    <app-projects></app-projects>
    <div class="view-button-container">
        <div class="view-button">View</div>
    </div>
    <app-footer></app-footer>
</div>