.work-container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    .work-phrase{
        font-size: 121px;
        width: 70%;
        word-wrap: normal;
        margin-top: 15vh;
    }
}