.app-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

.floating-menu-container{
    right: 16px;
    position: absolute;
    z-index: 200;
    width: fit-content;
    height: fit-content;
}