.project-item-container{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 20%;
    .project-item-image-container{
        width: 100%;
        aspect-ratio: 1;
        background-color: #D8D3CD;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .project-item-image{
            width: 85%;
            height: 60%;
            transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #c2c2c2;
        }
        &:hover{
            .project-item-image{
                scale: 1.05;
                
            }
        }
    }
    .project-item-name{
        font-size: 30px;
        margin: 20px 0px;
    }
    .project-row-divider{
        width: 100%;
        height: 2px;
        background-color: #000000;
        opacity: 0.1;
    }
    .project-item-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size:15px;
        margin: 20px 0px;
        font-weight: bold;
    }
}