<div [ngClass]="['project-item-container',item.uid]">
    <div [ngClass]="['project-item-image-container',item.uid]">
        <div [ngClass]="['project-item-image',item.uid]" [ngStyle]="{'background-image':'url('+item.image+')'}" alt=""></div>
    </div>
    <div class="project-item-name" [innerHTML]='item.name'></div>
    <div class="project-row-divider"></div>
    <div class="project-item-row">
        <div class="project-item-technology" [innerHTML]='item.technology'></div>
        <div class="project-item-year" [innerHTML]='item.year'></div>
    </div>
</div>