@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

body {
  width: 100vw;
  height: 100vh;
}

.app-container-wrapper {
  position: relative;
  height: fit-content;
}

.app-container {
  height: inherit;
  width: inherit;
  position: inherit;
  .placeholder-content {
    width: 100%;
    height: 3000px;
  }
}

.section-1 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #999D9E;
  .background {
    position: absolute;
    z-index: 0;
    height: 100%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  .big-text-loop-container {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    span {
      font-size: 207px;
      color: #ffffff;
      font-family: "Arvo", serif;
    }
  }
  .big-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    .sphere-wrapper {
      display: flex;
      width: 50%;
      justify-content: center;
      align-items: self-end;
      flex-direction: column;
      padding-right: 20%;
      margin-top: -15%;
      .sphere-container {
        display: flex;
        background-color: #00000000;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 25px;
        box-shadow: inset -18px 20px 20px 20px #0000001c;
      }
    }

    .home-about-wrapper {
      display: flex;
      width: 50%;
      justify-content: center;
      align-items: self-end;
      flex-direction: column;
      padding-right: 10%;
      margin-top: -20%;
      .home-about-content {
        font-size: 44px;
        color: #ffffff;
        .text-reveal-container {
          height: 44px;
          position: relative;
          width: 410px;
          margin-top: 10px;
          overflow: hidden;
          .text-reveal {
            position: absolute;
            top: 100%;
            left: 0;
          }
        }
        .row-3 {
          display: flex;
        }
      }
    }
  }
}

.tag-cloud-text {
  color: #ffffff;
}

.work-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -120px;
}