<div class="app-container-wrapper">
  <div class="app-container">
    <div class="section-1">
      <app-header [theme]="'light'"></app-header>
      <img src="../../assets/profilePic.png" class="background" />
      <div class="big-row">
        <div class="sphere-wrapper">
          <div class="sphere-container">
          </div>
        </div>
        <div class="home-about-wrapper">
          <div class="home-about-content">
            <div class="text-reveal-container">
              <div class="row-1 text-reveal">HI,</div>
            </div>
            <div class="text-reveal-container">
              <div class="row-2 text-reveal">I'am a</div>
            </div>
            <div class="text-reveal-container">
              <div class="row-3 text-reveal">
                <div>Frontend</div>
                <div style="width:10px"></div>  
                <div>Developer</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="big-text-loop-container">James—Christopher </div>
    </div>
    <!-- <app-button [buttonColor]="'green'"></app-button> -->
    <div class="placeholder-content" >
      <app-projects [myProjects]="WorkPageService.projectList" [layout]="'list'" [from]="'home'"></app-projects>
      <div class="work-more-button">
        <app-button
        [waveColor]="'#455ce9'"
        [backgroundColor]="'#ffffff'"
        [content]="'More Work'" 
        [uid]="'MOREWORK001'"
        [width]="'150'"
        [height]="'50'"
        [textSize]="'20'"
        [borderRadius]="'50px'"
        [borderColor]="'#dfdfdf'"
        [textColor]="'#1c1d20'"
        (click)="handleMoreWork()"
        ></app-button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
